.crew-wrapper {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 1024px;
  background-image: url("../../assets/crew/background-crew-desktop.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  /* background-position: right top; */
  overflow-x: hidden;
}
.crew-container {
  padding-top: 15vh;
  max-width: 1110px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;

  
}
.crew-caption {
  font-size: 2.8rem;
  font-weight: normal;
  letter-spacing: 4px;
  line-height: auto;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.crew-num {
  font-weight: bold;
  color: #4e5059;
  letter-spacing: 4.72px;
}
.crew-inner-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0;
  margin-bottom: -6rem;

}
.crew-img {
  width: 100%;
}
.crew-text-container {
  display: flex;
  flex-direction: column;
  max-width: 540px;
}
.crew-info-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.crew-role {
  font-size: 3.2rem;
  font-weight: normal;
  text-transform: uppercase;
  margin: 1.6rem 0;
  color: #979797;
}
.crew-name {
  font-size: 5.6rem;
  font-weight: normal;
  text-transform: uppercase;
  margin: 1.6rem 0;
}
.crew-parag {
  max-width: 445px;
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 1.8;
  color: var(--blue-300);
  padding-bottom: 4rem;
  min-height: 128px;

}
.crew-links-container {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  margin-top: 5rem;
}
.crew-link {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #979797;
}
.crew-link:hover{
  background-color: white;
}
.crew-link.active {
  background-color: white;
}

.destination-parag.europa{
    letter-spacing: 1px;
}
.destination-parag.mars{
    letter-spacing: 1.8px;
}
.destination-stats-container {
  display: flex;
  align-items: center;
  gap: 4rem;
  margin-top: 4rem;
}
.avg-distance,
.travel-time {
  color: var(--blue-300);
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: normal;
  padding-bottom: 1.2rem;
}
.value {
  font-size: 2.8rem;
  font-weight: normal;
  text-transform: uppercase;
}
@media (width <= 1160px) {
    .destination-wrapper {
        background-image: url("../../assets/destination/background-destination-tablet.jpg");
        background-size: 100%;
        padding-top: 16vh;
        padding: 16vh 4rem 0 4rem;

      }
      .destination-inner-container {
        flex-direction: column;
        justify-content: center;
        gap: 5rem;
      }
      .destination-links-container,.destination-stats-container{
        justify-content: center;
        margin-bottom: 1rem;
      }
      .destination-info-container {
        justify-content: center;
        align-items: center;
        text-align: center;
       
      }
      .destination-title {
        font-size: clamp(5rem, 8vw, 9.6rem);
      }
}